---
interface Props {
  title: string
  body: string
  href: string
  tags: string[]
  image: string
}

import Chip from '@/components/Chip.astro'

const { href, title, body, image, tags } = Astro.props
---

<div class='w-full flex flex-col md:flex-row gap-4 md:gap-0 my-12'>
  <section class='w-full md:w-1/2 flex flex-col gap-4 md:gap-0 justify-between'>
    <h2 class='text-2xl text-black'>
      {title}
    </h2>
    <div class='flex gap-2'>
      {tags.map((tag) => <Chip title={tag} />)}
    </div>
    <p class='text-gray mr-0 md:mr-6'>
      {body}
    </p>
    <a href={href} class='flex gap-2 text-black hover:underline'>
      View Project<svg
        xmlns='http://www.w3.org/2000/svg'
        width='27'
        height='27'
        fill='none'>
        <path
          stroke='#07041F'
          d='M23.625 11.813V3.374h-8.438M23.625 3.375l-20.25 20.25'>
        </path>
      </svg>
    </a>
  </section>
  <section class='w-full md:w-1/2'>
    <img
      src={image}
      alt='placeholder'
      class='h-48 object-cover w-full shadow'
    />
  </section>
</div>
